@font-face {
    font-family: 'Frenchpress';
    src: url('Frenchpress.woff2') format('woff2'),
         url('Frenchpress.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Basic theme */
body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    max-width: 100vw;
    font-family: 'Frenchpress', sans-serif;
}

/* Overlay */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(202, 186, 156, 0.6);
    z-index: -1;
}

/* Top background */
body::after {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url(Images/pexels-wojtekpaczes-17744097.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    z-index: -2;
}
/* Updated nav-line to be semi-transparent */
.nav-line {
 border: none;
 margin: 10px 0;
 border-top: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%; 
 max-width: 5000px;  
 margin: 10px auto; 
}

/* Centering */
.center {
 text-align: center;
 align-items: center;
 justify-content: center;
}

/* Updated top-strip to properly contain all elements */
.navbar-strip {
 width: 90%;
 max-width: 2000px;
 margin: 0 auto;
 background-color: #4c6444;
 padding: 50px;
 display: flex;
 flex-direction: column;
 align-items: center;

 border-left:5px solid #134131;
 border-bottom:5px solid #134131;
 border-right:5px solid #134131;

 border-top-right-radius: 100px;
 border-bottom-right-radius: 100px;
 border-top-left-radius: 100px;
 border-bottom-left-radius: 100px;

 box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
}
/* Navigation Bar & item */
.font{
 font-family: "Frenchpress";
 font-weight: normal;
 font-style: normal;
 font-size: 18.3px;
 font-weight: bold;
 color: #CABA9C;
 cursor: pointer;
}

.font i.fa-solid.fa-house,
.font i.fas,
.font i.fa-solid { 
 margin-right: 10px; 
 font-size: 17px;
}
.nav-container {
 display: flex;
 justify-content: center;
 gap: 125px;
 width: 90%;

 background-color: #134131;
 
 padding: 10px 10px;
 border-radius: 8px;
 
 margin-top: -30px;

 border-top-right-radius: 100px;
 border-bottom-right-radius: 100px;
 border-top-left-radius: 100px;
 border-bottom-left-radius: 100px;

 box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
}
/* Larger paragraph text */
.par {
 font-size: 1.25rem;
 font-size: 20px;
 color: #caba9c;
}

hr.nav-line{
 border: none;
 border-top: 1px solid rgba(0, 0, 0, 0.3);
 width: 90%;
}
h2.center.font.par {
 text-align: center;
 font-size: 36px;
 color: #caba9c;
 margin-top: 30px;
 margin-bottom: 0;
}
h2.center.font.par .fas.fa-mug-hot {
 font-size: 36px;
 vertical-align: baseline;
 
 position: relative;
 top:-2px;
 
 margin-left: 10px;
}
/* About Us Paragraph Strip */
.aboutus-strip{
 background-color: #4c6444;
 width:80%;
 height: auto;
 padding: 75px 50px;

 border-left:5px solid #134131;
 border-bottom:5px solid #134131;
 border-top:5px solid #134131;

 margin: 150px auto 0 auto;

 margin-left: auto;
 margin-right: 0;
 margin-top: 200px;

 border-top-left-radius: 100px;
 border-bottom-left-radius: 100px;
 border-top-right-radius: 0;
 border-bottom-right-radius: 0;

 box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);

 display: flex;
 flex-direction: column;
 align-items: flex-start;
}
.aboutus-container{
 width: 60%;
 margin-left: auto;
 margin-right: 0;

 background-color: #134131;
 padding: 10px 40px;
 border-radius: 8px;
 border: 2px solid black;

 border-top-left-radius: 100px;
 border-bottom-left-radius: 100px;
 border-top-right-radius: 100px;
 border-bottom-right-radius: 100px;

 box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);

 display: flex;
 flex-wrap: wrap;
 justify-content: center; 
 align-items: flex-start;
}
.aboutus-title-strip{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;

 background-color: #134131;
 
 padding: 10px 10px;
 border-radius: 10px;
 border: 2px solid black;

 margin-bottom: 50px;

 border-top-right-radius: 100px;
 border-bottom-right-radius: 100px;
 border-top-left-radius: 100px;
 border-bottom-left-radius: 100px;

 box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
}
.aboutus-title{
 color: #caba9c;
 font-family: "Courier New", Courier, monospace;
 font-size: min(75px, 12vw);

 margin-bottom: 0;
 margin-top: 0;

  text-align: center;
}
p.aboutus-font{ 
 font-family: "Courier New", Courier, monospace;
 font-size: 20px;
 font-weight: bold;
 color: #CABA9C !important;
 cursor: pointer;
 font-weight: bold;
}
.aboutus-content-wrapper {
 display: flex;
 justify-content: flex-end; 
 width: 100%;
}
.aboutus-image {
 width: 450px;
 height: 100%;
 object-fit: cover;

 margin-right: 0; 

 /* float: left; Removed float for better flex control */

 box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);

 border-radius: 20px;
 margin-top: -30px;
 border: 5px solid #134131;
}
.aboutus-line {
 border: none;
 border-top: 1px solid rgba(0, 0, 0, 0.3);

 width: 90%; 
 max-width: none; 
 margin-right: 0;

 margin-left: 500px; 

 margin-top: 20px;
 margin-bottom: 20px;
}
/* Meet The Team Css */
.meet-strip{
 background-color: #4c6444;
 width:80%;
 height: auto;
 padding: 75px 50px;

 margin: 150px auto 0 auto;

 margin-left: 0;
 margin-right: auto;
 margin-top: 200px;

 border-top-right-radius: 100px;
 border-bottom-right-radius: 100px;
 border-top-left-radius: 0;
 border-bottom-left-radius: 0;

 border-right:5px solid #134131;
 border-bottom:5px solid #134131;
 border-top:5px solid #134131;

 box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);

 display: flex;
 flex-direction: column;
 align-items: flex-start;
}
div.meet-title-strip{
  display: flex;
  justify-content: center;
  width: 90%;

  background-color: #134131;
 
  padding: 10px 10px;
  border-radius: 10px;
  border: 2px solid black;
 
  margin-top: 0;

  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;

  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
}
h2.meet-title{
 color: #caba9c;
 font-family: "Courier New", Courier, monospace;
 font-size: 75px;

 margin-bottom: 0;
 margin-top: 0;

 text-align: center;
 padding-left: 20px;
 width: 100%;
}
hr.meet-line-top{
 border: none;
 border-top: 1px solid rgba(0, 0, 0, 0.3);

 width: 90%; 
 max-width: none; 

 margin-left: -50px;
 margin-right: auto; 

 margin-top: 50px;
 margin-bottom: 20px;
}
hr.meet-line-bot{
  border: none;
 border-top: 1px solid rgba(0, 0, 0, 0.3);

 width: 90%; 
 max-width: none; 

 margin-left: -50px;
 margin-right: auto; 

 margin-top: 50px;
 margin-bottom: 0;
}
.team-container{
 width: 100%;
 margin-left: 0;
  margin-right: 0;

  display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: flex-start;
 gap: 40px;
 padding-top: 30px
}
/* FONT MEET */
.font-meet {
 color: #caba9c !important; 
 font-family: "Courier New", Courier, monospace !important; 
 text-align: center; 
 margin-left: 0; 
 margin-right: 0; 
}
.team-member h3.font-meet {
 font-size: 19.2px; 
 font-weight: bold;
 margin-top: 10px;
 margin-bottom: 2px;
 line-height: 1.2; 
 white-space: normal;
}

.team-member p.font-meet {
 font-size: 15px; 
 font-weight: normal;
 margin-top: 2px; 
 margin-bottom: 5px;
 line-height: 1.2; 
 white-space: normal; 
}
/* FONT MEET */
.team-member{
 background-color: #134131;
 text-align: center;

 padding: 15px 10px; 
 border-radius: 30px;
 box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
 width: 291.9px;
 max-width: 300px;
 
  border: 2px solid black;
}
.team-member img{
 width: 150px;
 height: 150px;
  object-fit: cover;
 border-radius: 50%;

  margin-bottom: 5px; 
  margin-top: 10px; 
  border: 3px solid black;
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
}
/* VMGO CSS */
div.vmgo-strip{
  background-color: #4c6444;
  width: 100%; /* <--- Taking full width */
  height: auto;
  padding: 50px 50px ;

  border-top:5px solid #134131;
  border-bottom: 5px solid #134131;
  margin: 200px auto 0 auto; /* <--- Centering is correct */
  display: flex;
  flex-direction: column;
  align-items: center; /* <--- Centering items inside is correct */
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
}
div.vmgo-title-strip{
display: flex;
justify-content: center;
width: 90%;
background-color: #134131;
padding: 10px 10px;
border-radius: 10px;
border: 2px solid black;

margin-right:75px;

border-top-right-radius: 100px;
border-bottom-right-radius: 100px;
border-top-left-radius: 100px;
border-bottom-left-radius: 100px;

box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);  
}
h2.vmgo-title{
  color: #caba9c;
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;

  margin-bottom: 10px;
  margin-top: 10px;

  text-align: center;
  width: 100%;
}
.vmgo-line{
 border: none;
 border-top: 1px solid rgba(0, 0, 0, 0.3);

 width: 90%; 
 max-width: none; 

 margin-left: 50px;
 margin-top: 50px;
 margin-bottom: 20px;
}
div.vmgo-vision-strip {
  display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 width: 30%;
 height: auto;

 background-color: #134131;
 
 padding: 5px 5px;
 border-radius: 10px;
 border: 2px solid black;
 
 margin-top: 75px;
 margin-right:1325px;

 border-top-right-radius: 0px;
 border-bottom-right-radius: 100px;
 border-top-left-radius: 100px;
 border-bottom-left-radius: 0px;

 box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3); 
}
i.fa-solid.fa-binoculars{
  background-color: #caba9c; /* Yellow circle background */
  color: #102820; /* Dark color for the binoculars icon itself */
  width: 80px; /* Size of the circle */
  height: 80px; /* Size of the circle */
  border-radius: 50%; /* Make it a circle */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px; /* Size of the icon inside the circle */
  margin-top: 15px; /* Add some space between the icon and the VISION title */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border: 2px solid black; 
}
h2.vmgo-vision-title {
  color: #caba9c;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
  position: relative;
}
h3.vmgo-vision-font{
  color: #caba9c;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  position: relative;
}
div.vmgo-mission-strip {
  display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 width: 30%;

 background-color: #134131;
 
 padding: 5px 5px;
 border-radius: 10px;
 border: 2px solid black;
 
 margin-top: -364px;
 margin-left: -90px;

 border-top-right-radius: 0px;
 border-bottom-right-radius: 100px;
 border-top-left-radius: 100px;
 border-bottom-left-radius: 0px;

 box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3); 
}
i.fa-solid.fa-rocket{
  background-color: #caba9c; /* Yellow circle background */
  color: #102820; /* Dark color for the binoculars icon itself */
  width: 80px; /* Size of the circle */
  height: 80px; /* Size of the circle */
  border-radius: 50%; /* Make it a circle */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px; /* Size of the icon inside the circle */
  margin-top: 15px; /* Add some space between the icon and the VISION title */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border: 2px solid black; 
}
h2.vmgo-mission-title{
  color: #caba9c;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
  position: relative;
}
h3.vmgo-mission-font{
  color: #caba9c;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  position: relative;
}
div.vmgo-goals-strip{
  display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 width: 30%;

 background-color: #134131;
 
 padding: 5px 5px;
 border-radius: 10px;
 border: 2px solid black;
 
 margin-top: -543px;
 margin-left: 1150px;

 border-top-right-radius: 0px;
 border-bottom-right-radius: 100px;
 border-top-left-radius: 100px;
 border-bottom-left-radius: 0px;

 box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3); 
}
i.fa-solid.fa-clipboard{
  background-color: #caba9c; /* Yellow circle background */
  color: #102820; /* Dark color for the binoculars icon itself */
  width: 80px; /* Size of the circle */
  height: 80px; /* Size of the circle */
  border-radius: 50%; /* Make it a circle */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px; /* Size of the icon inside the circle */
  margin-top: 15px; /* Add some space between the icon and the VISION title */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border: 2px solid black; 
}
h2.vmgo-goals-title{
  color: #caba9c;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
  position: relative;
}
h3.vmgo-goals-font{
  color: #caba9c;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  position: relative;
}
div.vmgo-obj-strip{
  display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 width: 75%;

 background-color: #134131;
 
 padding: 5px 5px;
 border-radius: 10px;
 border: 2px solid black;
 
  margin-top: 100px;

 border-top-right-radius: 0px;
 border-bottom-right-radius: 100px;
 border-top-left-radius: 100px;
 border-bottom-left-radius: 0px;

 box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3); 
}
i.fa-solid.fa-crosshairs{
  background-color: #caba9c; /* Yellow circle background */
  color: #102820; /* Dark color for the binoculars icon itself */
  width: 80px; /* Size of the circle */
  height: 80px; /* Size of the circle */
  border-radius: 50%; /* Make it a circle */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px; /* Size of the icon inside the circle */
  margin-top: 15px; /* Add some space between the icon and the VISION title */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border: 2px solid black; 
}
h2.vmgo-obj-title{
  color: #caba9c;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
  position: relative;
}
h3.vmgo-obj-font{
  color: #caba9c;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  position: relative;
}

/* VMGO CSS */
/* GMAP */
div.gmap-strip {
  background-color: #4c6444;
  width: 90%;
  height: auto;
  padding: 50px 50px;

  border: 5px solid #134131;

  margin: 200px auto 0 auto;

  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;

  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  align-items: center;
}
/* GMAP TITLE */
div.gmap-title-strip{
 display: flex;
 justify-content: center;
 width: 90%;

 background-color: #134131;
 
 padding: 10px 10px;
 border-radius: 10px;
 border: 2px solid black;
 
 margin-top: 0;

 border-top-right-radius: 100px;
 border-bottom-right-radius: 100px;
 border-top-left-radius: 100px;
 border-bottom-left-radius: 100px;

 box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
}
h2.gmap-title {
  color: #caba9c;
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;

  margin-bottom: 10px;
  margin-top: 10px;

  text-align: center;
  width: 100%;
  
}
/* GMAP TITLE */
hr.gmap-line-top{
  border: none;
  margin: 10px 0;

  border-top: 1px solid rgba(0, 0, 0, 0.3);

  width: 1500px; 
  max-width: 2000px;
  
  margin-top: 50px;
  margin-bottom: 75px;
}
div.gmap-container{
  background-color: #134131;

  border-radius: 30px;
  display: flex;
  padding: 75px 75px;
  border-radius: 10px;
  
  margin-top: -30px;

  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;

  border: 2px solid black;
}
iframe.map-image{
  object-fit: cover;

  margin-top: 0;
  margin-right: 0; 

  border: 3px solid black;
  
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
}
h2.contact-title{
  color: #caba9c;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 50px;
}
h3.contact-font{
  color: #caba9c;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  margin-left: 50px;
}